In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import array_intersect

# Iniciar uma sessão Spark
spark = SparkSession.builder \
    .appName("Read Parquet File") \
    .getOrCreate()

# Substitua 'caminho/do/arquivo.parquet' pelo caminho real do seu arquivo .parquet
file_path1 = 'part-00000-b5473193-ba27-4dc1-aa69-ec770eb7ef82-c000.snappy.parquet'

file_path2 = 'part-00000-f43e1eee-9720-4ebb-947c-626c9e1ba2f1-c000.snappy.parquet'

# Carregar o arquivo .parquet para um DataFrame
json = spark.read.parquet(file_path1)
csv = spark.read.parquet(file_path2)

csv = csv.filter(csv["genero"].contains("Drama") & (csv["anoLancamento"] >= 2000))

# Extrair os nomes dos gêneros como uma lista de strings
json = json.withColumn("genre_names", expr("transform(genres, x -> x.name)"))

# Filtrar os filmes de drama desde 2014 no DataFrame json
json = json.filter(array_contains(json["genre_names"], "Drama") & (year("release_date") >= 2000))


joined_df = json.join(csv, json["imdb_id"] == csv["id"], "inner")

filmes = joined_df.select(
    json["imdb_id"],
    csv["tituloPrincipal"],
    json["production_countries"],
    json["release_date"],
    json["title"],
)
popularidade = joined_df.select(
    json["imdb_id"],
    csv["notaMedia"],
    csv["numeroVotos"],
    json["vote_average"],
    json["vote_count"],
)

financeiro = joined_df.select(
    json["imdb_id"],
    json["budget"],
    json["revenue"],
)

outros = joined_df.select(
    json["imdb_id"],
    json["genres"],
    json["original_language"],
    json["overview"],
    json["popularity"],
    json["runtime"],
    json["status"],
)

# Contar o número de linhas no DataFrame csv
count_csv = csv.count()
print("Número de linhas no DataFrame csv:", count_csv)

# Filtrar os filmes do gênero "Drama"
drama_movies = csv.filter(csv["genero"].contains("Drama"))

# Contar o número de filmes do gênero "Drama"
count_drama_movies = drama_movies.count()
print("Número de filmes do gênero Drama:", count_drama_movies)

# Contar o número de linhas no DataFrame json
count_json = json.count()
print("Número de linhas no DataFrame json:", count_json)

# Extrair os nomes dos gêneros como uma lista de strings
json = json.withColumn("genre_names", expr("transform(genres, x -> x.name)"))

# Contar o número de filmes do gênero Drama
count_drama_movies = json.filter(array_contains(json["genre_names"], "Drama")).count()

# Mostrar o resultado
print("Número de filmes do gênero Drama:", count_drama_movies)

# Converter a coluna release_date para o tipo Date
filmes = filmes.withColumn("release_date", to_date("release_date", "yyyy-MM-dd"))

# Extrair o ano da data
filmes = filmes.withColumn("year", year("release_date"))

# Contar o número de filmes por ano
movies_per_year = filmes.groupBy("year").count().orderBy("year")

# Mostrar o resultado
movies_per_year.show(1000)


america_do_sul_codigos = ['AR', 'BO', 'BR', 'CL', 'CO', 'EC', 'FK', 'GF', 'GY', 'PY', 'PE', 'SR', 'UY', 'VE']

# Filtrar os filmes da América Latina
latin_america_movies = csv.join(json, csv["id"] == json["imdb_id"], "inner") \
                           .filter(array_intersect(array([lit(code) for code in america_do_sul_codigos]), col("production_countries.iso_3166_1")).getItem(0).isNotNull())

# Explodir a lista de países em múltiplas linhas
latin_america_movies_exploded = latin_america_movies.withColumn("country", explode("production_countries.name"))

# Contar o número total de filmes da América Latina
total_movies_latin_america = latin_america_movies.count()
print("Número total de filmes da América Latina:", total_movies_latin_america)

# Contar o número de filmes por país da América Latina
movies_per_country = latin_america_movies_exploded.groupBy("country").count()
movies_per_country.show(1000)

# Finalizar a sessão Spark
spark.stop()

Número de linhas no DataFrame csv: 64327
Número de filmes do gênero Drama: 64327
Número de linhas no DataFrame json: 42693
Número de filmes do gênero Drama: 42693
+----+-----+
|year|count|
+----+-----+
|2000|  861|
|2001| 1048|
|2002| 1093|
|2003| 1095|
|2004| 1177|
|2005| 1285|
|2006| 1427|
|2007| 1514|
|2008| 1591|
|2009| 1716|
|2010| 1722|
|2011| 1873|
|2012| 1951|
|2013| 2242|
|2014| 2332|
|2015| 2441|
|2016| 2532|
|2017| 2670|
|2018| 2756|
|2019| 2846|
|2020| 1994|
|2021| 2226|
|2022| 2030|
|2023|  258|
|2024|   13|
+----+-----+

Número total de filmes da América Latina: 2320
+--------------------+-----+
|             country|count|
+--------------------+-----+
|                Chad|    1|
|            Paraguay|   18|
|              Russia|    5|
|              Sweden|    7|
|              Guyana|    2|
|         Philippines|    1|
|            Malaysia|    1|
|           Singapore|    1|
|                Iraq|    1|
|             Germany|  111|
|         Afghanistan|    1|
|               Sudan|    1|
|              France|  220|
|              Greece|    7|
|              Kosovo|    1|
|              Taiwan|    1|
|           Argentina|  873|
|             Belgium|   15|
|              Angola|    2|
|             Ecuador|   42|
|               Qatar|   16|
|             Finland|    1|
|                Peru|   92|
|               China|   11|
|               India|    6|
|Palestinian Terri...|    2|
|               Chile|  302|
|         Puerto Rico|    6|
|             Croatia|    3|
|             Bolivia|   35|
|               Italy|   35|
|            Suriname|    3|
|              Norway|   16|
|               Spain|  200|
|                Cuba|   13|
|             Denmark|   13|
|                Iran|    2|
|            Thailand|    3|
|              Bhutan|    1|
|             Morocco|    1|
|              Panama|    5|
|          Cape Verde|    2|
|           Hong Kong|    1|
|           Venezuela|   79|
|             Ukraine|    1|
|              Israel|    3|
|             Iceland|    2|
|United States of ...|  119|
|         South Korea|    6|
|             Uruguay|   96|
|              Mexico|   78|
|           Indonesia|    1|
|           Guatemala|    2|
|       French Guiana|    1|
|             Namibia|    1|
|         Switzerland|   23|
|            Ethiopia|    1|
|United Arab Emirates|    2|
|              Canada|   22|
|          Mozambique|    3|
|      Czech Republic|    1|
|              Brazil|  891|
|               Kenya|    1|
|             Lebanon|    3|
|            Slovenia|    1|
|  Dominican Republic|   10|
|               Japan|    5|
|          Luxembourg|    3|
|    Falkland Islands|    1|
|         New Zealand|    1|
|              Poland|    5|
|            Portugal|   61|
|           Australia|    3|
|             Romania|    2|
|            Bulgaria|    2|
|             Austria|    6|
|          Costa Rica|   10|
|         El Salvador|    1|
|               Egypt|    1|
|        South Africa|    4|
|            Colombia|  194|
|             Hungary|    3|
|      United Kingdom|   37|
|         Netherlands|   39|
|                Mali|    1|
+--------------------+-----+

In [18]:
import pandas as pd

# Carregar os dados do arquivo Parquet para um DataFrame do Pandas
df = pd.read_parquet('part-00000-456f3bb8-3051-4b08-a529-4c4f5f2e85ee-c000.snappy.parquet')

# Lista de códigos de países da América do Sul
america_do_sul_codigos = ['AR', 'BO', 'BR', 'CL', 'CO', 'EC', 'FK', 'GF', 'GY', 'PY', 'PE', 'SR', 'UY', 'VE']

# Filtrar os filmes da América do Sul
filmes_sul_america = df[df['production_countries'].apply(lambda x: any(country['iso_3166_1'] in america_do_sul_codigos for country in x))]

# Contar o número total de filmes da América do Sul
total_filmes_sul_america = len(filmes_sul_america)

# Imprimir o total de filmes da América do Sul
print("Total de filmes da América do Sul:", total_filmes_sul_america)

# Ordenar os filmes da América do Sul por popularidade
filmes_sul_america.sort_values(by='vote_average', ascending=False, inplace=True)

# Imprimir os top 100 filmes da América do Sul
print("\nTop 100 filmes da América do Sul:")
for i, (_, filme) in enumerate(filmes_sul_america.head(100).iterrows(), 1):
    print(f"{i}. {filme['title']} ({filme['vote_average']}) - {', '.join([country['name'] for country in filme['production_countries']])}")

# Contar quantos filmes de cada país da América do Sul estão no top 100
country_counts = {}
for _, filme in filmes_sul_america.head(100).iterrows():
    for country in filme['production_countries']:
        if country['iso_3166_1'] in america_do_sul_codigos:
            country_counts[country['name']] = country_counts.get(country['name'], 0) + 1

# Apresentar o número de filmes por país no top 100 da América do Sul
print("\nNúmero de filmes por país no top 100 da América do Sul:")
for country_name, count in country_counts.items():
    print(f"{country_name}: {count}")

# Imprimir o top 10 filmes de cada país da América do Sul
for country_name in country_counts.keys():
    country_movies = filmes_sul_america[filmes_sul_america['production_countries'].apply(lambda x: any(country['name'] == country_name for country in x))]
    country_movies.sort_values(by='vote_average', ascending=False, inplace=True)
    print(f"\nTop 10 filmes de {country_name}:")
    for i, (_, filme) in enumerate(country_movies.head(10).iterrows(), 1):
        print(f"{i}. {filme['title']} ({filme['vote_average']})")

Total de filmes da América do Sul: 1442

Top 100 filmes da América do Sul:
1. Ana. Sem Título (10.0) - Brazil
2. Vestigio (10.0) - Argentina
3. Saber crecer (10.0) - Paraguay
4. Boi de Lágrimas (10.0) - Brazil
5. Salamandra (10.0) - Belgium, Brazil, France, Germany, United Kingdom
6. Las mujeres deciden (10.0) - Ecuador
7. Um Filme Francês (10.0) - Brazil
8. Theo, além da liberdade (10.0) - Brazil
9. Tiempo Suspendido (10.0) - Argentina, Mexico
10. Ojalá vivas tiempos interesantes (10.0) - Argentina
11. Extirpador de Idolatrias (10.0) - Peru
12. Verlust (10.0) - Brazil, Uruguay
13. Tierra yerma (10.0) - United Kingdom, Chile, France
14. Norte (10.0) - Peru
15. A Praia do Fim do Mundo (10.0) - Brazil
16. Esencial (10.0) - Argentina
17. Perros sin cola (10.0) - Chile
18. Histórias de Alice (10.0) - Brazil, Portugal
19. Metade do Céu (10.0) - South Africa, Brazil, China, India, Russia
20. Los del suelo (9.5) - Argentina
21. Helen (9.5) - Brazil
22. Pule ou Ocorrência às 4h48 (9.3) - Brazil
23. Daqui até a China (9.1) - Argentina
24. Sertânia (9.1) - Brazil
25. Sobre Rodas (9.0) - Brazil
26. #eagoraoque (9.0) - Brazil
27. Román (9.0) - Argentina
28. Machado do Brasil (9.0) - Brazil
29. Hojas verdes de otoño (9.0) - Argentina
30. Doutor Gama (8.7) - Brazil
31. O Mercado de Notícias (8.7) - Brazil
32. Angelita, la doctora (8.5) - Argentina
33. Edición ilimitada (8.5) - Argentina
34. Yasuni Man (8.5) - Ecuador, Spain, United States of America
35. CATO (8.5) - Argentina
36. NN (8.5) - Colombia, France, Germany, Peru
37. Um Dia com Jerusa (8.5) - Brazil
38. Ónix (8.5) - Argentina
39. Rio Doce (8.5) - Brazil
40. La última tarde (8.4) - Peru
41. Divaldo: O Mensageiro da Paz (8.37) - Brazil
42. Santa (8.3) - Argentina
43. Turma da Mônica: Lições (8.288) - Brazil
44. Loop (8.214) - Brazil
45. Dolores - Uma Mulher, Dois Amores (8.2) - Argentina, Brazil
46. Nise: O Coração da Loucura (8.2) - Brazil
47. João, o Maestro (8.2) - Brazil
48. Manco Capac (8.2) - Peru
49. Agujero Negro (8.2) - Dominican Republic, Ecuador
50. Me Chame Pelo Seu Nome (8.152) - Brazil, France, Italy, United States of America
51. Soldado Argentino solo conocido por Dios (8.106) - Argentina
52. Los agitadores (8.1) - Argentina
53. Que Horas Ela Volta? (8.031) - Brazil
54. Mas que hermanos (8.017) - Panama, Argentina, United States of America
55. Tiempo perdido (8.0) - Argentina
56. Tragam-Me a Cabeça de Carmen M. (8.0) - Brazil, Portugal
57. Muitos Homens Num Só (8.0) - Brazil
58. King Kong em Asunción (8.0) - Bolivia, Brazil, Paraguay
59. Crisis (8.0) - Chile
60. Filhos de Bach (8.0) - Brazil, Germany
61. Petecuy, La Película (8.0) - Colombia, Spain
62. Estive em Lisboa e Lembrei de Você (8.0) - Brazil, Portugal
63. La escuela del bosque (8.0) - Argentina, Spain
64. Pixinguinha: Um Homem Carinhoso (8.0) - Brazil
65. A Fera na Selva (8.0) - Brazil
66. El Silencio del Río (8.0) - Colombia, France, Uruguay
67. La encomienda (8.0) - Argentina, Dominican Republic
68. La noche más fria (8.0) - Argentina
69. Entre ríos: todo lo que no dijimos (8.0) - Argentina
70. Bingo: O Rei das Manhãs (8.0) - Brazil
71. Depois do Universo (7.974) - Brazil
72. Argentina, 1985 (7.927) - Argentina, United Kingdom
73. A Son of Man (7.917) - Ecuador
74. Arábia (7.9) - Brazil
75. O Loiro (7.9) - Argentina
76. Hoje Eu Quero Voltar Sozinho (7.9) - Brazil
77. Primos (7.9) - Brazil
78. Chaco (7.9) - Argentina, Bolivia
79. A Vida Invisível (7.887) - Brazil, Germany
80. Pacarrete (7.882) - Brazil
81. Relatos Selvagens (7.868) - Argentina, Spain
82. La mujer del animal (7.847) - Colombia
83. O Baile dos 41 (7.831) - Brazil, Mexico
84. Café com Canela (7.828) - Brazil
85. Rumbo al mar (7.8) - Argentina
86. A História da Eternidade (7.8) - Brazil
87. Vicenta (7.8) - Argentina
88. Eternidade (7.8) - Peru
89. Metanoia (7.8) - Brazil
90. Yonlu (7.8) - Brazil
91. Palau: Um Homem de Fé (7.789) - Argentina
92. A Vizinhança do Tigre (7.778) - Brazil
93. Eduardo e Mônica (7.757) - Brazil
94. Ariel (7.75) - Argentina, Canada
95. A Passageira (7.7) - Argentina, Colombia, Peru
96. A Noite do Fogo (7.7) - Argentina, Brazil, Germany, Qatar, Mexico, United States of America, Switzerland
97. Em Busca Do Tesouro Desaparecido (7.69) - Paraguay
98. O Abraço da Serpente (7.679) - Argentina, Colombia, Venezuela
99. O Traidor (7.678) - Brazil, France, Germany, Italy
100. Entre Irmãs (7.675) - Brazil

Número de filmes por país no top 100 da América do Sul:
Brazil: 51
Argentina: 33
Paraguay: 3
Ecuador: 4
Peru: 7
Uruguay: 2
Chile: 3
Colombia: 6
Bolivia: 2
Venezuela: 1

Top 10 filmes de Brazil:
1. Ana. Sem Título (10.0)
2. Verlust (10.0)
3. Metade do Céu (10.0)
4. Histórias de Alice (10.0)
5. A Praia do Fim do Mundo (10.0)
6. Boi de Lágrimas (10.0)
7. Theo, além da liberdade (10.0)
8. Salamandra (10.0)
9. Um Filme Francês (10.0)
10. Helen (9.5)

Top 10 filmes de Argentina:
1. Vestigio (10.0)
2. Ojalá vivas tiempos interesantes (10.0)
3. Esencial (10.0)
4. Tiempo Suspendido (10.0)
5. Los del suelo (9.5)
6. Daqui até a China (9.1)
7. Román (9.0)
8. Hojas verdes de otoño (9.0)
9. CATO (8.5)
10. Ónix (8.5)

Top 10 filmes de Paraguay:
1. Saber crecer (10.0)
2. King Kong em Asunción (8.0)
3. Em Busca Do Tesouro Desaparecido (7.69)
4. Mangoré (7.333)
5. LEAL Só Existe Uma Maneira de Viver (7.133)
6. Hoy partido a las tres (6.7)
7. As Herdeiras (6.493)
8. Guaraní (6.3)
9. El supremo manuscrito (6.0)
10. Eami (5.8)

Top 10 filmes de Ecuador:
1. Las mujeres deciden (10.0)
2. Yasuni Man (8.5)
3. Agujero Negro (8.2)
4. A Son of Man (7.917)
5. La ciudad de las fieras (7.3)
6. Azules Turquesas (7.0)
7. Translúcido (7.0)
8. Vírus Tropical (6.881)
9. Vacío (6.8)
10. Alba (6.75)

Top 10 filmes de Peru:
1. Extirpador de Idolatrias (10.0)
2. Norte (10.0)
3. NN (8.5)
4. La última tarde (8.4)
5. Manco Capac (8.2)
6. Eternidade (7.8)
7. A Passageira (7.7)
8. Caixa de Recordações (7.4)
9. Atacada: la teoría del dolor (7.3)
10. The Last Shaman (7.224)

Top 10 filmes de Uruguay:
1. Verlust (10.0)
2. El Silencio del Río (8.0)
3. Benzinho (7.6)
4. Gilda: Não Me Arrependo Desse Amor (7.6)
5. Utama (7.2)
6. Tamara (7.0)
7. 23 Segundos (7.0)
8. Vida de Doleiro (6.9)
9. Planta permanente (6.9)
10. Noche americana (6.857)

Top 10 filmes de Chile:
1. Tierra yerma (10.0)
2. Perros sin cola (10.0)
3. Crisis (8.0)
4. Os Fortes (7.6)
5. La casa lobo (7.585)
6. Poesia Sem Fim (7.56)
7. Pacto de Fuga (7.5)
8. Памфір (7.344)
9. El bosque de Karadima (7.3)
10. Tenho Medo Toureiro (7.282)

Top 10 filmes de Colombia:
1. NN (8.5)
2. Petecuy, La Película (8.0)
3. El Silencio del Río (8.0)
4. La mujer del animal (7.847)
5. A Passageira (7.7)
6. O Abraço da Serpente (7.679)
7. A Ausência que Seremos (7.565)
8. Love Film Festival (7.5)
9. Os Reis do Mundo (7.431)
10. Siempreviva (7.4)

Top 10 filmes de Bolivia:
1. King Kong em Asunción (8.0)
2. Chaco (7.9)
3. Utama (7.2)
4. Tu me manques (6.9)
5. Los nombres de las flores (6.6)
6. Karnawal (6.4)
7. Cocaine Prison (6.1)
8. Cuidando al Sol (6.0)
9. Santa Clara (6.0)
10. Olalla (5.9)

Top 10 filmes de Venezuela:
1. O Abraço da Serpente (7.679)
2. O Patrão: Radiografia de um Crime (7.604)
3. El Inca (7.5)
4. La fortaleza (7.338)
5. Dos otoños en París (7.3)
6. Exorcismo Sagrado (7.113)
7. Tamara (7.0)
8. Lejos de casa - Película Venezolana (6.8)
9. Liz en Septiembre (6.708)
10. Allende en su laberinto (6.7)

/var/folders/5q/4krf7jmj6fgfll_b9kgmff9r0000gn/T/ipykernel_3350/3585658541.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filmes_sul_america.sort_values(by='vote_average', ascending=False, inplace=True)
/var/folders/5q/4krf7jmj6fgfll_b9kgmff9r0000gn/T/ipykernel_3350/3585658541.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_movies.sort_values(by='vote_average', ascending=False, inplace=True)

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import array_intersect

# Iniciar uma sessão Spark
spark = SparkSession.builder \
    .appName("Read Parquet File") \
    .getOrCreate()

# Substitua 'caminho/do/arquivo.parquet' pelo caminho real do seu arquivo .parquet
file_path1 = 'part-00000-5518d4f0-6f6a-49f9-aa09-b9f6f7063487-c000.snappy.parquet'

file_path2 = 'part-00000-a5c57ffd-8007-4697-b57f-b6085cf297a6-c000.snappy.parquet'

file_path3 = 'part-00000-477c9d7b-713e-47fb-8422-aa5072c62c02-c000.snappy.parquet'

file_path4 = 'part-00000-a43f265a-77d7-416b-a9e2-14af279fba47-c000.snappy.parquet'


# Carregar o arquivo .parquet para um DataFrame
filmes = spark.read.parquet(file_path1)
financeiro = spark.read.parquet(file_path2)
popularidade = spark.read.parquet(file_path3)
outros = spark.read.parquet(file_path4)

filmes.printSchema()
filmes.show()
financeiro.printSchema()
financeiro.show()
popularidade.printSchema()
popularidade.show()
outros.printSchema()
outros.show()

# Finalizar a sessão Spark
spark.stop()

root
 |-- id: string (nullable = true)
 |-- tituloCSV: string (nullable = true)
 |-- origem: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- iso_3166_1: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- lancamento: date (nullable = true)
 |-- tituloJSON: string (nullable = true)

+---------+--------------------+--------------------+----------+--------------------+
|       id|           tituloCSV|              origem|lancamento|          tituloJSON|
+---------+--------------------+--------------------+----------+--------------------+
|tt0116391|                Gang|       [{IN, India}]|2000-04-14|                Gang|
|tt0116748|Karobaar: The Bus...|                  []|2000-09-15|            Karobaar|
|tt0118589|             Glitter|[{US, United Stat...|2001-09-21|Glitter: O Brilho...|
|tt0118694|In the Mood for Love|[{FR, France}, {H...|2000-09-29| Amor à Flor da Pele|
|tt0118926| The Dancer Upstairs|[{ES, Spain}, {US...|2002-09-20|  Guerrilha Sem Face|
|tt0120467|              Vulgar|[{US, United Stat...|2002-04-26|              Vulgar|
|tt0138353|              Cement|[{US, United Stat...|2000-04-14|              Cement|
|tt0138946|           The Yards|[{US, United Stat...|2000-04-27|   Caminho sem Volta|
|tt0140806|       American Reel|                  []|2003-11-04|       American Reel|
|tt0149367|  Where the Money Is|[{DE, Germany}, {...|2000-04-14|      O Grande Golpe|
|tt0151150|                Josh|       [{IN, India}]|2000-06-09|                 जोश|
|tt0155754| I'll Remember April|[{US, United Stat...|2001-04-05| I'll Remember April|
|tt0156020|             Ricky 6|[{CA, Canada}, {M...|2000-07-29|             Ricky 6|
|tt0156757|     Mad About Mambo|[{IE, Ireland}, {...|2000-04-04|     Mad About Mambo|
|tt0156812|         My Dog Skip|[{US, United Stat...|2000-01-12|   Meu Cachorro Skip|
|tt0157191|      One Last Dance|      [{CA, Canada}]|2003-04-04|      A Última Dança|
|tt0158033|                Nora|[{DE, Germany}, {...|2000-04-05|                Nora|
|tt0158871|     På fremmed mark|[{DK, Denmark}, {...|2000-03-23|     På fremmed mark|
|tt0159365|       Cold Mountain|[{US, United Stat...|2003-12-24|     Montanha Gelada|
|tt0160550|              Moscow|      [{RU, Russia}]|2000-09-04|              Москва|
+---------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- orcamento: long (nullable = true)
 |-- receita: long (nullable = true)

+---------+---------+---------+
|       id|orcamento|  receita|
+---------+---------+---------+
|tt0116391|        0|        0|
|tt0116748|        0|        0|
|tt0118589| 22000000|  5271666|
|tt0118694|   150000| 14204632|
|tt0118926|        0|  5227348|
|tt0120467|   120000|    14904|
|tt0138353|  1700000|        0|
|tt0138946|        0|        0|
|tt0140806|        0|        0|
|tt0149367|        0|        0|
|tt0151150|  6900000| 15000000|
|tt0155754|  1800000|        0|
|tt0156020|        0|        0|
|tt0156757|        0|        0|
|tt0156812|  6000000| 35547761|
|tt0157191|        0|        0|
|tt0158033|        0|        0|
|tt0158871|        0|        0|
|tt0159365| 79000000|173013509|
|tt0160550|        0|    90000|
+---------+---------+---------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- notaIMDB: float (nullable = true)
 |-- votosIMDB: integer (nullable = true)
 |-- notaTMDB: double (nullable = true)
 |-- votosTMDB: long (nullable = true)

+---------+--------+---------+--------+---------+
|       id|notaIMDB|votosIMDB|notaTMDB|votosTMDB|
+---------+--------+---------+--------+---------+
|tt0116391|     6.2|      254|     5.0|        2|
|tt0116748|     3.8|      273|     7.0|        3|
|tt0118589|     2.4|    23624|     4.4|      133|
|tt0118694|     8.1|   150711|    8.11|     2516|
|tt0118926|     6.9|     6683|     6.1|       54|
|tt0120467|     5.2|     4158|     5.4|       46|
|tt0138353|     5.7|      645|     4.4|        5|
|tt0138946|     6.4|    21799|   6.178|      414|
|tt0140806|     6.8|      104|     0.0|        0|
|tt0149367|     6.3|     6150|   6.069|       65|
|tt0151150|     6.1|    10344|     5.8|       58|
|tt0155754|     6.3|      723|     6.2|       10|
|tt0156020|     6.1|      685|     5.9|       17|
|tt0156757|     5.9|     2039|     5.1|       26|
|tt0156812|     7.0|    20727|     6.8|      262|
|tt0157191|     5.3|     1566|     5.6|       55|
|tt0158033|     5.9|     1782|     5.4|       13|
|tt0158871|     5.4|      200|     4.5|        6|
|tt0159365|     7.2|   149849|   6.909|     1668|
|tt0160550|     6.4|      411|     5.5|       17|
+---------+--------+---------+--------+---------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- genero: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- idioma: string (nullable = true)
 |-- resumo: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- duracao: long (nullable = true)
 |-- situacao: string (nullable = true)

+---------+--------------------+------+--------------------+------------+-------+--------+
|       id|              genero|idioma|              resumo|popularidade|duracao|situacao|
+---------+--------------------+------+--------------------+------------+-------+--------+
|tt0116391|[{18, Drama}, {28...|    hi|                null|       1.079|    165|Released|
|tt0116748|[{18, Drama}, {10...|    hi|                null|        1.07|    180|Released|
|tt0118589|[{18, Drama}, {10...|    en|Billie Frank sonh...|       8.525|    104|Released|
|tt0118694|[{18, Drama}, {10...|    cn|Ambientado em Hon...|      45.566|     99|Released|
|tt0118926|[{80, Crime}, {18...|    en|A perseguição e c...|       8.869|    127|Released|
|tt0120467|[{18, Drama}, {27...|    en|Vulgar é sobre um...|       4.658|     87|Released|
|tt0138353|[{18, Drama}, {80...|    en|                null|       1.468|    101|Released|
|tt0138946|[{80, Crime}, {18...|    en|Leo Handler (Mark...|      13.811|    115|Released|
|tt0140806|[{18, Drama}, {10...|    en|                null|       1.099|      0|Released|
|tt0149367|[{35, Comédia}, {...|    en|Henry Manning (Pa...|       7.015|     89|Released|
|tt0151150|[{10749, Romance}...|    hi|                null|       9.278|    157|Released|
|tt0155754|[{18, Drama}, {10...|    en|                null|       1.361|     90|Released|
|tt0156020|[{80, Crime}, {18...|    en|                null|       2.145|    111|Released|
|tt0156757|[{35, Comédia}, {...|    en|                null|       5.222|     92|Released|
|tt0156812|[{35, Comédia}, {...|    en|Yazoo City, Missi...|      17.167|     95|Released|
|tt0157191|[{10749, Romance}...|    en|A companhia de da...|       9.286|    100|Released|
|tt0158033|       [{18, Drama}]|    en|                null|       4.906|    106|Released|
|tt0158871|[{18, Drama}, {10...|    da|                null|        2.45|     93|Released|
|tt0159365|[{18, Drama}, {10...|    en|Após o término da...|      49.242|    154|Released|
|tt0160550|       [{18, Drama}]|    ru|                null|       1.602|    144|Released|
+---------+--------------------+------+--------------------+------------+-------+--------+
only showing top 20 rows