In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import array_intersect

# Iniciar uma sessão Spark
spark = SparkSession.builder \
    .appName("Read Parquet File") \
    .getOrCreate()

# Substitua 'caminho/do/arquivo.parquet' pelo caminho real do seu arquivo .parquet
file_path1 = 'part-00000-b5473193-ba27-4dc1-aa69-ec770eb7ef82-c000.snappy.parquet'

file_path2 = 'part-00000-f43e1eee-9720-4ebb-947c-626c9e1ba2f1-c000.snappy.parquet'

# Carregar o arquivo .parquet para um DataFrame
json = spark.read.parquet(file_path1)
csv = spark.read.parquet(file_path2)

csv = csv.filter(csv["genero"].contains("Drama") & (csv["anoLancamento"] >= 2000))

# Extrair os nomes dos gêneros como uma lista de strings
json = json.withColumn("genre_names", expr("transform(genres, x -> x.name)"))

# Filtrar os filmes de drama desde 2000 no DataFrame json
json = json.filter(array_contains(json["genre_names"], "Drama") & (year("release_date") >= 2000))

joined_df = json.join(csv, json["imdb_id"] == csv["id"], "inner")

# Seleciona as colunas necessárias para os diferentes datasets
# Selecionando as colunas relevantes para a dimensão de filmes
filme_dim = joined_df.select(
    json["imdb_id"].alias("id"),
    csv["tituloPrincipal"].alias("tituloCSV"),
    json["title"].alias("tituloJSON"),
    json["release_date"].alias("lancamento"),
    json["original_language"].alias("idioma"),
    json["overview"].alias("resumo"),
)

# Selecionando as colunas relevantes para a fato de filmes
filme_fato = joined_df.select(
    json["imdb_id"].alias("id"),
    csv["notaMedia"].alias("notaIMDB"),
    csv["numeroVotos"].alias("votosIMDB"),
    json["vote_average"].alias("notaTMDB"),
    json["vote_count"].alias("votosTMDB"),
    json["popularity"].alias("popularidade"),
    json["budget"].alias("orcamento"),
    json["revenue"].alias("receita"),
)

# Explode os países de produção para uma dimensão de países
paises = json.select(explode("production_countries").alias("origem"))
paises_dim = paises.selectExpr(
    "origem.iso_3166_1 as codigo",
    "origem.name as nome"
).distinct()

# Cria uma associação entre filmes e países
paises_exploded = json.select("imdb_id", explode("production_countries.iso_3166_1").alias("codigo_origem"))
associacao_filme_pais = paises_exploded.join(paises_dim, paises_exploded["codigo_origem"] == paises_dim["codigo"], "inner").select("imdb_id", "codigo")
associacao_filme_pais = associacao_filme_pais.withColumnRenamed("imdb_id", "id")


filme_fato.show()
filme_dim.show()
paises_dim.show()
associacao_filme_pais.show()


# Finalizar a sessão Spark
spark.stop()

24/04/09 09:14:40 WARN Utils: Your hostname, Super-Mac-n-cheese.local resolves to a loopback address: 127.0.0.1; using 192.168.0.104 instead (on interface en1)
24/04/09 09:14:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/09 09:14:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+---------+--------+---------+--------+---------+------------+---------+---------+
|       id|notaIMDB|votosIMDB|notaTMDB|votosTMDB|popularidade|orcamento|  receita|
+---------+--------+---------+--------+---------+------------+---------+---------+
|tt0116391|     6.2|      254|     5.0|        2|       1.079|        0|        0|
|tt0116748|     3.8|      273|     7.0|        3|        1.07|        0|        0|
|tt0118589|     2.4|    23624|     4.4|      133|       8.525| 22000000|  5271666|
|tt0118694|     8.1|   150711|    8.11|     2516|      45.566|   150000| 14204632|
|tt0118926|     6.9|     6683|     6.1|       54|       8.869|        0|  5227348|
|tt0120467|     5.2|     4158|     5.4|       46|       4.658|   120000|    14904|
|tt0138353|     5.7|      645|     4.4|        5|       1.468|  1700000|        0|
|tt0138946|     6.4|    21799|   6.178|      414|      13.811|        0|        0|
|tt0140806|     6.8|      104|     0.0|        0|       1.099|        0|        0|
|tt0149367|     6.3|     6150|   6.069|       65|       7.015|        0|        0|
|tt0151150|     6.1|    10344|     5.8|       58|       9.278|  6900000| 15000000|
|tt0155754|     6.3|      723|     6.2|       10|       1.361|  1800000|        0|
|tt0156020|     6.1|      685|     5.9|       17|       2.145|        0|        0|
|tt0156757|     5.9|     2039|     5.1|       26|       5.222|        0|        0|
|tt0156812|     7.0|    20727|     6.8|      262|      17.167|  6000000| 35547761|
|tt0157191|     5.3|     1566|     5.6|       55|       9.286|        0|        0|
|tt0158033|     5.9|     1782|     5.4|       13|       4.906|        0|        0|
|tt0158871|     5.4|      200|     4.5|        6|        2.45|        0|        0|
|tt0159365|     7.2|   149849|   6.909|     1668|      49.242| 79000000|173013509|
|tt0160550|     6.4|      411|     5.5|       17|       1.602|        0|    90000|
+---------+--------+---------+--------+---------+------------+---------+---------+
only showing top 20 rows

+---------+--------------------+--------------------+----------+------+--------------------+
|       id|           tituloCSV|          tituloJSON|lancamento|idioma|              resumo|
+---------+--------------------+--------------------+----------+------+--------------------+
|tt0116391|                Gang|                Gang|2000-04-14|    hi|                null|
|tt0116748|Karobaar: The Bus...|            Karobaar|2000-09-15|    hi|                null|
|tt0118589|             Glitter|Glitter: O Brilho...|2001-09-21|    en|Billie Frank sonh...|
|tt0118694|In the Mood for Love| Amor à Flor da Pele|2000-09-29|    cn|Ambientado em Hon...|
|tt0118926| The Dancer Upstairs|  Guerrilha Sem Face|2002-09-20|    en|A perseguição e c...|
|tt0120467|              Vulgar|              Vulgar|2002-04-26|    en|Vulgar é sobre um...|
|tt0138353|              Cement|              Cement|2000-04-14|    en|                null|
|tt0138946|           The Yards|   Caminho sem Volta|2000-04-27|    en|Leo Handler (Mark...|
|tt0140806|       American Reel|       American Reel|2003-11-04|    en|                null|
|tt0149367|  Where the Money Is|      O Grande Golpe|2000-04-14|    en|Henry Manning (Pa...|
|tt0151150|                Josh|                 जोश|2000-06-09|    hi|                null|
|tt0155754| I'll Remember April| I'll Remember April|2001-04-05|    en|                null|
|tt0156020|             Ricky 6|             Ricky 6|2000-07-29|    en|                null|
|tt0156757|     Mad About Mambo|     Mad About Mambo|2000-04-04|    en|                null|
|tt0156812|         My Dog Skip|   Meu Cachorro Skip|2000-01-12|    en|Yazoo City, Missi...|
|tt0157191|      One Last Dance|      A Última Dança|2003-04-04|    en|A companhia de da...|
|tt0158033|                Nora|                Nora|2000-04-05|    en|                null|
|tt0158871|     På fremmed mark|     På fremmed mark|2000-03-23|    da|                null|
|tt0159365|       Cold Mountain|     Montanha Gelada|2003-12-24|    en|Após o término da...|
|tt0160550|              Moscow|              Москва|2000-09-04|    ru|                null|
+---------+--------------------+--------------------+----------+------+--------------------+
only showing top 20 rows

+------+-------------------+
|codigo|               nome|
+------+-------------------+
|    BJ|              Benin|
|    NO|             Norway|
|    KZ|         Kazakhstan|
|    JM|            Jamaica|
|    IR|               Iran|
|    AG|Antigua and Barbuda|
|    KP|        North Korea|
|    AR|          Argentina|
|    QA|              Qatar|
|    HT|              Haiti|
|    BB|           Barbados|
|    LT|          Lithuania|
|    SL|       Sierra Leone|
|    PK|           Pakistan|
|    OM|               Oman|
|    AW|              Aruba|
|    CN|              China|
|    SN|            Senegal|
|    MY|           Malaysia|
|    BO|            Bolivia|
+------+-------------------+
only showing top 20 rows

+---------+------+
|       id|codigo|
+---------+------+
|tt0160751|    US|
|tt0160759|    DE|
|tt0160759|    PT|
|tt0170508|    IT|
|tt0160797|    US|
|tt0161081|    US|
|tt0165361|    US|
|tt0170517|    FI|
|tt0169122|    US|
|tt0164318|    US|
|tt0158871|    DK|
|tt0158871|    EE|
|tt0160749|    US|
|tt0166013|    GB|
|tt0166013|    IE|
|tt0166013|    US|
|tt0158033|    DE|
|tt0158033|    IE|
|tt0158033|    IT|
|tt0158033|    GB|
+---------+------+
only showing top 20 rows