In [24]:
# ETAPA 01

with open('actors.csv', 'r') as file:
    lines = file.readlines()

header = lines[0]
lines = lines[1:]

third_values = [line.split(',')[2] for line in lines]

max_value = max(third_values)
max_index = third_values.index(max_value)

print(lines[max_index].split(',')[0], lines[max_index].split(',')[2])

with open('output.txt', 'w') as file:
  file.write(lines[max_index].split(',')[0] + ' ' + lines[max_index].split(',')[2])

Robert DeNiro 79

In [25]:
# ETAPA 02

with open('actors.csv', 'r') as file:
    lines = file.readlines()

header = lines[0]
lines = lines[1:]

last_values = [line.split(',')[-1] for line in lines]

mean = sum(float(value) for value in last_values) / len(last_values)

print(mean)

with open('mean.txt', 'w') as file:
  file.write(str(mean))

428.69000000000005

In [26]:
# ETAPA 03

with open('actors.csv', 'r') as file:
    lines = file.readlines()

header = lines[0]
lines = lines[1:]

max_value = max([float(line.split(',')[3]) for line in lines])

for line in lines:
    if float(line.split(',')[3]) == max_value:
        print(line.split(',')[0], max_value)
        break

with open('result.txt', 'w') as file:
    file.write(f'{line.split(",")[0]}, {max_value}')

Anthony Daniels 451.8

In [27]:
# ETAPA 04


with open('actors.csv', 'r') as file:
    lines = file.readlines()    

header = lines[0]
lines = lines[1:]

movies = [line.split(',')[4] for line in lines]

movies_count = {}

for movie in movies:
    if movie in movies_count:
        movies_count[movie] += 1
    else:
        movies_count[movie] = 1

movies_count = sorted(movies_count.items(), key=lambda x: (-x[1], x[0]))

for index, (movie, count) in enumerate(movies_count):
  print(f"{index} - O filme {movie} aparece {count} vez(es) no dataset")

with open('movies_count.txt', 'w') as file:
    for index, (movie, count) in enumerate(movies_count):
        file.write(f"{index} - O filme {movie} aparece {count} vez(es) no dataset\n")

0 - O filme The Avengers aparece 6 vez(es) no dataset
1 - O filme Catching Fire aparece 4 vez(es) no dataset
2 - O filme Harry Potter / Deathly Hallows (P2) aparece 4 vez(es) no dataset
3 - O filme Meet the Fockers aparece 3 vez(es) no dataset
4 - O filme Star Wars: The Force Awakens aparece 3 vez(es) no dataset
5 - O filme The Dark Knight aparece 3 vez(es) no dataset
6 - O filme Avengers: Age of Ultron aparece 2 vez(es) no dataset
7 - O filme Dead Man's Chest aparece 2 vez(es) no dataset
8 - O filme Night at the Museum aparece 2 vez(es) no dataset
9 - O filme Return of the King aparece 2 vez(es) no dataset
10 - O filme Shrek 2 aparece 2 vez(es) no dataset
11 - O filme American Sniper aparece 1 vez(es) no dataset
12 - O filme Hotel Transylvania 2 aparece 1 vez(es) no dataset
13 - O filme Independence Day aparece 1 vez(es) no dataset
14 - O filme Men in Black aparece 1 vez(es) no dataset
15 - O filme Minions aparece 1 vez(es) no dataset
16 - O filme Ocean's Eleven aparece 1 vez(es) no dataset
17 - O filme Sixth Sense aparece 1 vez(es) no dataset
18 - O filme The Dark Knight Rises aparece 1 vez(es) no dataset
19 - O filme The Grinch aparece 1 vez(es) no dataset
20 - O filme The LEGO Movie aparece 1 vez(es) no dataset
21 - O filme The Martian aparece 1 vez(es) no dataset
22 - O filme The Phantom Menace aparece 1 vez(es) no dataset
23 - O filme Titanic aparece 1 vez(es) no dataset
24 - O filme Toy Story 3 aparece 1 vez(es) no dataset
25 - O filme Transformers 4 aparece 1 vez(es) no dataset
26 - O filme War of the Worlds aparece 1 vez(es) no dataset
27 - O filme World War Z aparece 1 vez(es) no dataset

In [29]:
# ETAPA 05


with open('actors.csv', 'r') as file:
    lines = file.readlines()
    
header = lines[0]
lines = lines[1:]

 
lines.sort(key=lambda x: x.split(',')[1], reverse=True)

for line in lines:
    values = line.split(',')
    print(values[0]," - ", values[1])

with open('sorted_actors.txt', 'w') as file:
    for line in lines:
        values = line.split(',')
        file.write(values[0] + " - " + values[1] + '\n')

Harrison Ford  -  4871.70
Samuel L. Jackson  -  4772.80
Morgan Freeman  -  4468.30
Tom Hanks  -  4340.80
Robert Downey Jr.  -  3947.30
Eddie Murphy  -  3810.40
Tom Cruise  -  3587.20
Johnny Depp  -  3368.60
Michael Caine  -  3351.50
Scarlett Johansson  -  3341.20
Gary Oldman  -  3294.00
Robin Williams  -  3279.30
Bruce Willis  -  3189.40
Stellan Skarsgard  -  3175.00
Anthony Daniels  -  3162.90
Ian McKellen  -  3150.40
Will Smith  -  3149.10
Stanley Tucci  -  3123.90
Matt Damon  -  3107.30
Robert DeNiro  -  3081.30
Cameron Diaz  -  3031.70
Liam Neeson  -  2942.70
Andy Serkis  -  2890.60
Don Cheadle  -  2885.40
Ben Stiller  -  2827.00
Helena Bonham Carter  -  2822.00
Orlando Bloom  -  2815.80
Woody Harrelson  -  2815.80
Cate Blanchett  -  2802.60
Julia Roberts  -  2735.30
Elizabeth Banks  -  2726.30
Ralph Fiennes  -  2715.30
Emma Watson  -  2681.90
Tommy Lee Jones  -  2681.30
Brad Pitt  -  2680.90
Adam Sandler  -  2661.00
Daniel Radcliffe  -  2634.40
Jonah Hill  -  2605.10
Owen Wilson  -  2602.30
Idris Elba  -  2580.60
Bradley Cooper  -  2557.70
Mark Wahlberg  -  2549.80
Jim Carrey  -  2545.20
Dustin Hoffman  -  2522.10
Leonardo DiCaprio  -  2518.30
Jeremy Renner  -  2500.30
Philip Seymour Hoffman  -  2463.70
Sandra Bullock  -  2462.60
Chris Evans  -  2457.80
Anne Hathaway  -  2416.50